.navigasi{
	background-color:grey;
	color:white;
	font-size: 45px;
	overflow: hidden;
	list-style: none;
}	
a:hover{
	color: white;
}
.navigasi li{
	float: left;
	margin: 10px;
}
.gambar{
	width: 550px;
	border-radius: 200px;
}
.p1{
	font-size: 60px;
	font-family: sans-serif;
}
.gambar1{
	width: 250px;
	height: 300px;
	border-radius: 50px;
}
.gambar1:hover{
	transform: scale(1.1);
}
.p2{
	background-color: grey;
	font-size: 60px;
}
.p3{
	background-color;grey ;
	font-size: 70px;
}
.p4{
	font-size: 30px;
}
.p5{
	font-size: 30px;
}
.sosmed{
	width: 40px;
	height: 40px;
}
.kal1{
	font-size: 45px;
	font-family: Times New Roman;
	margin-right: 2500px;
}
.sosmed{
	width: 35px;
	height: 35px;
}
.medsos{
	height: 50px;
	width: 50px;
}
.bapak{
	background-color: white;
	padding-top: 90px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.bapak2{
	background-color:white;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.daftar{
	background-color: grey;
	margin-top: 0px;
	margin-bottom: 0px;
}
td {
	padding: 5px;
}

